*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CLASSI DI LAYOUT */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container-sm{
    max-width: 992px;
    margin: 0 auto;
}

.row, .d-flex{
    display: flex;
}

.f-wrap{
    flex-wrap: wrap;
}

.gap-10{
    gap: 10px;
}

.sp-between{
    justify-content: space-between;
}

.col20{
    width: 20%;
}

.col33-10{
    width: calc(100%/3 - 10px);
}

.col33{
    width: calc(100%/3);
}

.col40-10{
    width: calc(40% - 10px);
}

.col60{
    width: 60%;
}

.col66{
    width: calc(100% * 2 / 3);
}

.col100{
    width: 100%;
}

.relative{
    position: relative;
}
/* FINE CLASSI DI LAYOUT */

body *{
    font-size: 16px;
}
/* INIZIO HEADER */
header{
    background-color: white;
}

header ul{
    list-style-type: none;
    display: flex;
}

header ul, header .row{
    align-items: center;
}

header ul li{
    padding: 20px 20px;
}
header ul li a{
    text-decoration: none;
    color: rgb(149, 149, 149);
}


/* FINE HEADER */

/* INIZIO MAIN */
main , header, footer{
    font-family: sans-serif;
}
    /* > jumbotron section */
main div.bg-lightblue{
    background-color: rgb(175, 217, 253);
    padding: 1px;
}

h1{
    font-size: 4em;
    font-weight: 900;
    padding: 100px 0px 30px 0px;
}

#jumbotron button{
    margin: 30px 0;    
}

#jumbotron i[class*="arrow-down"]{
    position: absolute;
    left: 10px;
    bottom: 20px;
    font-size: 50px;
}

#jumbotron .jumbo-text{
    position: relative;
    height: 100%;
}

#jumbotron img{
    width: 100%;
    transform: scale(1.2);
    transform-origin: top left;
}


    /* > plans section */
#plans h2{
    font-size: 2.6em;
    padding-top: 200px;
    margin-bottom: 70px;
}

#plans input[type=radio]{
    scale: 150%;
    margin-right: 5px;
}
#plans input[type=radio]:nth-of-type(2){
    margin: 0px 5px 50px 100px;
}

        /* >> plans cards area */
.plan-card{
    height: 100%;
    padding-bottom: 30px;
}

.plan-card, .plan-card hr{
    border: 1px solid rgba(182, 182, 182, 0.559);
}

.plan-card div:nth-child(2){
    padding: 0px 20px;
}

.plan-card .target,
.enterprise-card .target{
    text-align: center;
    border-bottom: 1px solid rgba(182, 182, 182, 0.559);
    padding: 10px;
}

.plan-card h4{
    font-size: 1.7em;
    margin-top: 40px;
}

.plan-card .price{
    margin: 30px 0px 10px 0px;
}

.plan-card .price + div{
    font-style: italic;
    color: gray;
    margin-bottom: 60px;
}

.plan-card .feat{
    margin: 20px 0px;
    display: flex;
}

.plan-card .feat i{
    margin-right: 6px;
}

.plan-card button{
    width: 100%;
    margin-top: 60px;
}

.plan-card .buy-now{
    margin: 40px 0px;
}

.plan-card .buy-now a{
    color: blue;
}

.plan-card hr{
    width: 70px;
}

.plan-card h6:not([class="price"]){
    margin: 50px 0px 30px;
}

.plan-card ul{
    list-style-type: none;
}

.plan-card li {
    margin-top: 15px;
    display: flex;
}

.plan-card ul i{
    color: rgb(0, 98, 255);
    margin-right: 5px;
}

        /* >> enterprise cards area  */
.enterprise-card{
    margin-top: 50px;
    margin-bottom: 30px;
    border: 1px solid rgba(182, 182, 182, 0.559);
}

.enterprise-card .row{
    padding: 40px 30px;
}

.enterprise-card h4{
    font-size: 1.7em;
    margin-bottom: 20px;
}

.enterprise-card p{
    margin-top: 50px;
}

.enterprise-card button{
    margin-left: 35px;
    white-space: nowrap;
}


    /* > partner section */
#partner-section{
    margin-top: 160px;
}

#partner-section img{
    max-width: 100%;
}

#partner-section div:nth-last-child(1){
    padding: 30px;
}

#partner-section h4{
    font-size: 1.7em;
}

#partner-section p{
    padding: 30px 0px;
}

    /* > more-section */
#more-section h2{
    font-size: 2.6em;
    margin-top: 160px;
    margin-bottom: 50px;
}

#more-section img{
    max-width: 100%;
}

#more-section h4{
    margin-top: 10px;
    font-size: 1.7em;
    margin-bottom: 30px;
}

#more-section p{
    margin-bottom: 70px;
}

    /* > ross-section */

#ross-section h2{
    font-size: 2.6em;
    margin-top: 160px;
    margin-bottom: 80px;
}

#ross-section a{
    display: block;
    color: blue;
    margin-bottom: 80px;
}

    /* > squares section */

.square{
    width: 50%; /* same as (100vw / 6)*/
    height: calc(100vw / 6);
    position: relative;
}

.square img{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
}

.square.designit{
    background-color: #A2D39B;
    border: 15px solid #D1E9CD;
}
.square.asu{
    background-color: #61082B;
}
.square.uf{
    background-color: #0093CE;
}
.square.topps{
    background-color: #FF1C1C;
}
.square.wbr{
    background-color: #D5001F;
}
.square.hearst{
    background-color: #B4D0E7;
}
.square.lplanet{
    background-color: #0D2481;
}
.square.clearch{
    background-color: #FFD830;
}

#central-square{
    padding: 50px;
}

#central-square img{
    width: 60%;
}

#central-square hr{
    width: 20%;
    border-color: rgba(182, 182, 182, 0.559);
    margin: 50px 0px;
}
    /* > free tryal section */
#free-tryal h2{
    font-size: 2.6em;
    color: #61082B;
    margin: 120px 0px;   
}

#free-tryal button{
    margin: 120px 0px 120px 10%;
    padding: 15px 0px;
    border: none;
    width: 90%;
}

    /* >FAQ section */
#faq h2{
    font-size: 2.6em;
    margin-top: 140px;
    margin-bottom: 60px;
}

#faq ul{
    list-style-type: none;
    border-bottom: 1px solid black;
    margin-bottom: 160px;
}
#faq li{
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#faq i{
    padding: 40px 20px;
}


/* FINE MAIN */

/* INZIO FOOTER */
footer{
    background-color: black;
    color: white;
}

footer h4{
    font-size: 1.7em;
    margin-top: 100px;
    margin-bottom: 30px;
}

footer ul{
    list-style-type: none;
    margin-bottom: 100px;
}
footer li{
    margin: 20px 0px;
}
footer hr{
    width: 10%;
}

footer #language{
    margin: 50px 0px;
}
footer #language span{
    margin-left: 5px;
}
footer #language i:last-child{
    transform: translateY(6px);
}
/* FINE FOOTER */

.btn{
    padding: 10px 20px;
    border: 0px;
}
.btn.blue{    
    color: white;
    background-color: rgb(0, 98, 255);
}
.btn.white{
    color: black;
    background-color: white;
    border: 1px solid black;
}