*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CLASSI DI LAYOUT */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container-sm{
    max-width: 992px;
    margin: 0 auto;
}

.row{
    display: flex;
}

.f-wrap{
    flex-wrap: wrap;
}

.gap-10{
    gap: 10px;
}

.sp-between{
    justify-content: space-between;
}

.col33-10{
    width: calc(100%/3 - 10px);
}

.col40-10{
    width: calc(40% - 10px);
}

.col60{
    width: 60%;
}

.col66{
    width: calc(100% * 2 / 3);
}

.col100{
    width: 100%;
}



/* FINE CLASSI DI LAYOUT */


main{
    padding: 30px;
}